<div class="container-fluid">
  <div class="row" id="home-top">

    <div class="col-md-8 left-side">
      <div class="row map-view">
        <div id="map-canvas"></div>
      </div>
      <div class="row visa-view">
        <div class="col-md-6 ">
          <div class="form-group">
						<label for="nationalityInput">Nationality</label>
						<select [(ngModel)]="selectedNationalityId1" class="form-control" id="nationality" name="nationality" >
                <option value = {{country._id}} *ngFor="let country of countries">{{country.name}}</option>
						</select>
					</div>
          <div class="form-group">
						<label for="nationalityInput2">Nationality</label>
						<select [(ngModel)]="selectedNationalityId2" class="form-control" id="nationality2" name="nationality2" >
                <option value = {{country._id}} *ngFor="let country of countries2">{{country.name}}</option>
						</select>
					</div>

          <button (click)="showCountries()" (click)="showCountries2()">Select</button>
        </div>
        <div class="col-md-6 ">
          <p> Nation 1: Visa free = "white"</p><br />
          <p> Nation 1: Visa on arrival = "red"</p><br />
          <p> Nation 2: Visa free = "black"</p><br />
          <p> Nation 2: Visa free = "blue"</p><br />



				</div>
      </div>
    </div>

    </div>

    <div class="col-md-4 right-side">
      <div class="row">
        <div class="col-md-12 itinerary">
          ITINERARY
        </div>

      </div>
      <div class="row country-view">
        <div class="col-md-12 ">
          COUNTY
          <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
          </div>
        </div>
      </div>

      </div>
    </div>
