.fluid-container, .row, .left-side, .right-side{
  margin: 0;
  padding: 0;
}



.left-side, .right-side{
  height: 100vh;
}

.map-view{
  height: 70vh;

}

#map-canvas {
    height: 100%;
  }

.visa-view{
  height: 30vh;
  background-color: #fff;
  text-align: center;
}

.color-row{
  background-color: #fff;
}

.color-column{
  height: 100%;
  margin-bottom: 1%;
}

.yellow-box, .red-box, .blue-box, .green-box{
  height: 2vh;
  width: auto;
  border-radius: 5px;
}

.yellow-box{
  background-color: yellow;
}

.red-box{
  background-color: red;
}

.blue-box{
  background-color: blue;
}

.green-box{
  background-color: green;
}

.nation-row{
  /*margin-top: 2%;*/
}

.nation-box{
  background-color: #eeedec;
  border-radius: 5px;
  width:46%;
  margin: 0 2% 0 2%;;
  box-shadow: 3px 3px 3px 3px #ccc;
}
.country-button{
  background-color: #222061;
  border-radius: 5px;
  margin-top: 1%;
  color: #fff;
  padding: 1% 2%;
  box-shadow: 3px 3px 3px 1px #ccc;
}



.itinerary-box{
  background-color: #fff;
  height: 70vh;
  box-shadow: inset 5px 0 5px #ccc;

}
.itinerary{
  background-color: #222061;
  margin-top: 2%;
  padding: 2% 2% 2% 3%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #ccc;
}

.location-list, .location-box{
  color: black;
  border-radius: 5px;
  background-color: #eeedec;
}

.location-box{
  margin-top: 1%;
}

.white{
  color: #fff;
}

#new-submit{

}

.country-view{
  height: 30vh;
  box-shadow: inset 5px 0 5px #ccc;
}
