<div class="fluid-container">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 form-box">
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate *ngIf="!user">

          <p>
            <input type="text" name="nationality" [(ngModel)]="form.name"  placeholder="Your name" required />
          </p>
          <p>
            <input type="text" name="username" [(ngModel)]="form.username" #myUsername="ngModel" placeholder="Your email (your username)" required />
          </p>
              <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
                <p class="error" [hidden]="!myUsername.errors.required">
                  Oy! An email-based username is required.
                </p>
              </div>
          <p>
            <input type="password" name="password" [(ngModel)]="form.password" #myPassword="ngModel" required  minlength="6" placeholder="Your password (at least 6 characters)"/>
          </p>
              <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
                <p class="error" [hidden]="!myPasswords.errors.minlength">
                  Sorry! Passwords are required and must be at least 6 characters long.
                </p>
              </div>
              <!-- <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
                <p class="error" [hidden]="!myPassword.errors.required">
                  Oy! A Password is required.
                </p>
              </div> -->
          <p> Nationality
            <input type="text" name="nationality" [(ngModel)]="form.nationality"  placeholder="Your nationality"/>
          </p>
          <p> Second Nationality (optional)
            <input type="text" name="nationality2" [(ngModel)]="form.nationality2"  />
          </p>
          <button type="submit" (click)="signup()"> signup </button>
      </form>

      <div *ngIf="user">
        <h2> You are now logged in as {{ user.username }}!! </h2>
        <p> Here's the user object </p>
        <pre> {{ user | json }} </pre>


        <button (click)="logout()"> logout </button>
        <button (click)="getPrivateData()"> Get private data </button>
     </div>
  </div>
  <div class="col-md-3">

  </div>
</div>
