<div class="container-fluid" id="home-top">
  <div class="col-md-2 left-side">
    <div>
       <h4>Welcome back, {{user.name}}</h4>
    </div>
    <div class="img-div">
      <img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-35-512.png" />
    </div>
    <div>
      <strong><button type="submit" (click)="goToOverview()">  User Overview  </button></strong>
    </div>
    <div>
      <strong><button type="submit" (click)="goToEdit"> Edit User </button></strong>
    </div>
    <div>
      <strong><button  ng-model="view" type="submit" (click)="goToItinerary" name="View itineraries" value="itinerary">View itineraries</button></strong>
    </div>
    <div>
      <strong><button  ng-model="view" type="submit"  (click)="goToCountryView" name="View countries visited" value="country">View countries visited</button></strong>
    </div>
  </div>

  <div class="col-md-10 right-side" *ngIf="view == itinerary">
    <app-profile-itineraries ></app-profile-itineraries>
  </div>
</div>
