<div class="container-fluid" id="home-top">
  <div class="col-md-12 right-side">
    <div class="row map-view">
      <div id="map-canvas"></div>
    </div>
    <div class="countries">
      <div class="col-md-4">
        <h4>Americas</h4>
        <input type="checkbox" name="Argentina" value="ARG"/> Argentina
        <input type="checkbox" name="Belize" value="BLZ"/> Belize
        <input type="checkbox" name="Bolivia" value="BOL"/> Bolivia
        <input type="checkbox" name="Brazil" value="BRA"/> Brazil <br />
        <input type="checkbox" name="Canada" value="CAN"/> Canada
        <input type="checkbox" name="Chile" value="CHL"/> Chile
        <input type="checkbox" name="Colombia" value="COL"/> Colombia
        <input type="checkbox" name="Costa Rica" value="CRI"/> Costa Rica <br />
        <input type="checkbox" name="Ecuador" value="ECU"/> Ecuador
        <input type="checkbox" name="El Salvador" value="SLV"/> El Salvador
        <input type="checkbox" name="Guatemala" value="GTM"/> Guatemala
        <input type="checkbox" name="Guyana" value="GUY"/> Guyana <br />
        <input type="checkbox" name="Honduras" value="HND"/> Honduras
        <input type="checkbox" name="Mexico" value="MEX"/> Mexico
        <input type="checkbox" name="Nicaragua" value="NIC"/> Nicaragua
        <input type="checkbox" name="Panama" value="PAN"/> Panama <br />
        <input type="checkbox" name="Paraguay" value="PRY"/> Paraguay
        <input type="checkbox" name="Peru" value="PER"/> Peru
        <input type="checkbox" name="Suriname" value="SUR"/> Suriname
        <input type="checkbox" name="United States" value="USA"/> United States <br />
        <input type="checkbox" name="Uruguay" value="URY"/> Uruguay 
        <input type="checkbox" name="Venezuela" value="VEN"/> Venezuela

      </div>
    </div>

  </div>
</div>
