.fluid-container, .row, .left-side, .right-side{
  margin: 0;
  padding: 0;
}

.right-side{
  height: 100vh;
}



.map-view{
  height: 65vh;

}

#map-canvas {
    height: 100%;
  }


  .country-button{
    background-color: #222061;
    border-radius: 5px;
    margin-top: 1%;
    color: #fff;
    padding: 1% 2%;
    box-shadow: 3px 3px 3px 1px #ccc;
  }


.profile-itinerary{
  height: 10vh;
}


  .itinerary{
    background-color: #879dc9;
    margin-top: 1%;
    height: 100%;
    padding: 2% 0;
    border-radius: 5px 0 0 0;
    /*box-shadow: 3px 3px 3px 3px #ccc;*/
  }



  .location-box{
    /*margin-top: 1%;*/
    background-color: #879dc9;
  }

  .location-list{
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 5px;
    background-color: #eeedec;
    /*padding: 2% 3%;*/
    border-bottom: 1px solid black;
  }


  .white{
    color: #fff;
  }

  #new-address{
    width: 62%;
  }
  #new-date{
    width: 62%;
  }
  #new-submit{

  }

  .delete{
    background-color: red;
    border-radius: 5px;
    margin-top: 1%;
    color: #fff;
    padding: 0 2%;
    box-shadow: 3px 3px 3px 1px #ccc;
  }

  .days{
    padding-top: 5%;
    text-align: center;
  }

  .total-days{
    background-color: #fff;
    color: #879dc9;
    border: 1px solid #879dc9;
    margin-top:1%;
    height: 100%;
    border-radius: 0 5px 0 0;
    padding: 2%;
    box-shadow: 7px 2px 3px -1px #ccc;
  }

  .share{
    text-align: center;
    background-color: red;
    color: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #879dc9;
    height: 4vh;
    padding: 3% 2%;
    box-shadow: 3px 3px 3px 3px #ccc;
  }
